<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <springProperty scope="context" name="fluentHost" source="logging.fluent-bit.host" defaultValue="fluent-bit.infra:5170"/>
    <appender name="forwarder" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${fluentHost}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appName": "${APP_NAME}", "version": "${APP_VERSION}", "environment": {"namespace": "${APP_NAMESPACE}", "podName": "${APP_POD_NAME}"}}</customFields>
        </encoder>
    </appender>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
 	    <encoder>
            <pattern>${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="forwarder" />
        <appender-ref ref="stdout" />
    </root>
</configuration>
